[exclude_object]


[force_move]
enable_force_move:1

[resonance_tester]
accel_chip: adxl345
probe_points:
   75,75,50


[probe]
pin: ^PC15
x_offset: 0
y_offset: 0
z_offset: 1.650


speed: 10.0
samples: 3
samples_result: median
sample_retract_dist: 4.0
samples_tolerance: 0.006
samples_tolerance_retries: 3

[safe_z_home]
home_xy_position: 75,75
speed: 50
z_hop: 10                 
z_hop_speed: 5


[gcode_macro M109]
rename_existing: M109.1
gcode:
    {% set s = params.S|float %}
    M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %} 
    {% if s != 0 %}
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s} MAXIMUM={s+1}  
    {% endif %}	

[gcode_macro M190]
rename_existing: M190.1
gcode:
    {% set s = params.S|float %}
    M140 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}   
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={s-2} MAXIMUM={s+5}  
    {% endif %}
[gcode_macro PRINT_START]          

gcode:
    G28
    G28 Z
    G28 Z
    G28 Z


    G92 E0 
    G90
    G1 X8 Y18 Z0.8 F3600
    G1 X8 Y8 E10  F720
    G92 E0
    G1 X148 Y8 E50 F720
    G92 E0
    G1 X148 Y18 E6 F720
    G92 E0
    G1 X147 Y18 Z0.4
    G92 E0
    G1 X147 Y9 E6 F720
    G92 E0
    G1 X9 Y9 E30 F720
    G92 E0
    G1 X9 Y18 E6 F720
    G92 E0
    G1 E-5 F720
    G1 X29 Y38   F10000
    G1 Z0 F360
    G92 E0
    SET_PRESSURE_ADVANCE ADVANCE=0.06  ##预设0.06压力提前
###    SHAPER_CALIBRATE  ##输入整形,这块Rpi性能不够 抖完报错ttc

    
[gcode_macro PRINT_END]            

gcode:

    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}
    
    {% if printer.toolhead.position.x < (max_x - 20) %}
        {% set x_safe = 20.0 %}
    {% else %}
        {% set x_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.y < (max_y - 20) %}
        {% set y_safe = 20.0 %}
    {% else %}
        {% set y_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.z < (max_z - 2) %}
        {% set z_safe = 2.0 %}
    {% else %}
        {% set z_safe = max_z - printer.toolhead.position.z %}
    {% endif %}
 
    M400                            
    G92 E0                           
    G1 E-10.0 F3600                 
    G91                             
    G0 Z{z_safe} F3600                
    G0 X{x_safe} Y{y_safe} F20000  
    M104 S0                         
    M140 S0                          
    M106 S0                           
    G90                               
    G0 X{max_x / 2}  F3600    
    G28 Y